<li itemprop="ingredient" itemscope="" itemtype="http://data-vocabulary.org/RecipeIngredient">
  #if($ingredient_is_section)
  <h5>$ingredient_name</h5>
  #else
  <span itemprop="amount">$ingredient_quantity <span class="uom">$ingredient_uom</span></span> 
  <span itemprop="name">$ingredient_name</span>  
  #end
</li>