<Page Id="/alias=$recipe_name_slug" Status="Published">
  <BodyPart Text="$content" />
  <CommonPart Owner="/User.UserName=dalenewman" />
  <AutoroutePart Alias="$recipe_name_slug" UseCustomPattern="false" />
  <TitlePart Title="$recipe_name" />
  <TagsPart Tags="$tags" />
</Page>