@using System.Linq
@using Transformalize.Libs.Rhino.Etl
@{
    Row[] results = Model.Process.Results;
    int[] recipes = results.Select(r => (int) r["step_recipe_id"]).Distinct().ToArray();
}<recipes>
    @for (var i = 0; i < recipes.Length; i++) {
        var recipe = recipes[i];
        var steps = results.Where(r => (int)r["step_recipe_id"] == recipe).OrderBy(r => (short)r["step_sequence"]).ToArray();
        var sections = steps.Select(r => r["step_section"].ToString()).Distinct().ToArray();
        <add>
            <id>@(recipe)</id>
            <content>
                @for (var y = 0; y < sections.Length; y++) {
                    var section = sections[y];
                    <h4>Directions@(section == string.Empty ? string.Empty : " for " + section)</h4>
                    <ol itemprop="instructions">
                        @foreach (var step in steps.Where(r => r["step_section"].ToString() == section)) {
                            <li>@(step["step_description"])</li>
                        }
                    </ol>
                }
            </content>
        </add>
    }
</recipes>
